.row{   

    background-color:black;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    display: flex;
    justify-content: space-around;
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    display: flex;
    justify-content: center;
    border:1px solid black;
}

.footer{
 display: flex;
 justify-content: space-around;
 background-color: #6b5151;
}

.contact{
 display: flex;
 justify-content: space-around;
}

